footer {
    width: 100%;
    padding: 3rem 1.5rem 1.5rem;
    margin-inline: auto;
    display: flex;
    gap: 3rem;
    flex-direction: column;

    & .logo a {
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        font: 700 1.25rem/1.3 "Syne", sans-serif;

        &:hover {
            & img {
                rotate: 90deg;
            }
        }

        & img {
            width: 2rem;
            transition: rotate 350ms;
        }
    }

    & nav {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & a {
            position: relative;
            width: fit-content;

            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: var(--snitap-sky-mid);
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                transform: scaleX(0);
                transition: transform 300ms linear;
            }

            &:hover::after {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }

    & .social-links {
        display: flex;
        align-items: center;
        
        & a {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5rem;
            position: relative;

            &::before {
                content: "";
                width: inherit;
                height: inherit;
                border-radius: inherit;
                background-color: var(--snitap-sun);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                scale: 0;
                transition: scale 200ms;
            }

            &:hover::before {
                scale: 1;
            }

            & img {
                width: 1.5rem;
                height: auto;
            }
        }
    }
}

@media (width >= 80em) {
    footer {
        max-width: 80rem;
        padding: 4rem 2rem 2rem;
        flex-direction: initial;
        align-items: center;
        justify-content: space-between;

        & nav {
            flex-direction: initial;
            gap: 2rem;
        }
    }
}