section.hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    & h1 {
        max-width: 40rem;
    }

    & h1 div {
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
    }

    & h1 span:nth-child(1), & h1 span:nth-child(4) {
        color: var(--snitap-sky-mid);
    }

    & h1 span:nth-child(2) {
        color: var(--snitap-joy-mid);
    }

    & h1 span:nth-child(3) {
        color: var(--snitap-leaf-mid);
    }

    & h1 span {
        display: block;
        animation: slideUp 5s 2s infinite ease;
    }

    & .buttons {
        display: flex;
        gap: 2rem;
        margin-top: 3rem;

        & .button {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            border-radius: 5rem;
            text-transform: uppercase;
            transition: scale 350ms;

            &.buy {
                padding: 1.5rem 3rem;
                background-color: var(--snitap-sun);
            }

            &.play span {
                display: flex;
                padding: 1.5rem;
                border-radius: 50%;
                background-color: white;
            }

            &:hover {
                scale: 1.1;
            }
        }

        & .shadow {
            box-shadow: 0 2px 5px rgb(0 0 0 / .1), 0 9px 9px rgb(0 0 0 / .09), 0 20px 12px rgb(0 0 0 / .05), 0 36px 15px rgb(0 0 0 / .01);
        }
    }

    &>div:nth-child(2) {
        display: block;
        width: 100%;
        max-width: 30.5rem;
        height: 30.5rem;

        & .content {
            width: 100%;
            height: 100%;
            position: relative;
        }

        & img {
            position: absolute;
            width: 100%;
        }

        & img[src*="ellipse"] {
            width: 94%;
            top: 3%;
            left: 3%;
            transform: translateX(200%);
            animation: slideIn 3s 200ms ease forwards;
        }

        & img[src*="patins"] {
            z-index: 1;
            transform: translateX(200%);
            animation: slideIn 3s ease forwards;
        }

        & img[src*="stars-1"] {
            max-width: 5.5rem;
            top: 30%;
            z-index: 0;
            opacity: 0;
            transform: translateX(400%);
            animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
        }

        & img[src*="stars-2"] {
            max-width: 2.5rem;
            right: 0;
            bottom: 35%;
            transform: translateX(400%);
            animation: slideIn 2.2s 800ms ease forwards;
        }
    }
}

@keyframes slideUp {
    /* radical static */
    0%, 22% {
        transform: translateY(0);
    }

    /* divertida in */
    23% {
        transform: translateY(calc(-5rem - 10px));
    }

    25% {
        transform: translateY(calc(-5rem + 10px));
    }

    27% {
        transform: translateY(calc(-5rem - 5px));
    }

    29% {
        transform: translateY(calc(-5rem + 2.5px));
    }

    31% {
        transform: translateY(calc(-5rem - 1.5px));
    }

    /* divertida static */
    33%, 55% {
        transform: translateY(-5rem);
    }

    /* saudável in */
    56% {
        transform: translateY(calc(-10rem - 10px));
    }

    58% {
        transform: translateY(calc(-10rem + 10px));
    }

    60% {
        transform: translateY(calc(-10rem - 5px));
    }

    62% {
        transform: translateY(calc(-10rem + 2.5px));
    }

    64% {
        transform: translateY(calc(-10rem - 1.5px));
    }

    /* saudável static */
    66%, 88% {
        transform: translateY(-10rem);
    }

    /* radical in */
    89% {
        transform: translateY(calc(-15rem - 10px));
    }

    91% {
        transform: translateY(calc(-15rem + 10px));
    }

    93% {
        transform: translateY(calc(-15rem - 5px));
    }

    95% {
        transform: translateY(calc(-15rem + 2.5px));
    }

    97% {
        transform: translateY(calc(-15rem - 1.5px));
    }

    100% {
        transform: translateY(-15rem);
    }
}

@keyframes slideIn {
    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@media (width >= 80em) {
    section.hero {
        flex-direction: row;
    }
}